*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

a {
    text-decoration: none;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    overflow: hidden;
}

html {
    height: 100%;

}


.container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1280px;
    height: 720px;
}

.video {
    width: 100%;
    height: auto;
}


h1 {
    font-size: 18px;
    margin: 20px auto;
}

a {

    color: dimgray;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

a:hover, a:focus {
    cursor: pointer;
    color: brown;

}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }

}

@keyframes slide-out {
    from {
        transform: translateX(0);

    }
    to {
        transform: translateX(-100%);

    }
}

.drawerOpen {
    animation: slide-in 1000ms;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

.drawerClose {
    animation: slide-out 1000ms;
    animation-fill-mode: backwards;
}

.inputPart {
    line-height: 38.5px;

}


input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
label{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
input[type="text"] {
    appearance: none;

}

input[type="checkbox"]:after{
    content: "\2714";
    font-weight: 400;
    font-size: 38px;
    display: none;
}
input[type="checkbox"]:checked:after{
    display: block;
    color: black;
}

.clear-button{
    width: 187px !important;

}
.active-button {
    background-color: black;
    color: white;
}

.incorrect{
color: red;
}
