*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

a {
    text-decoration: none;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    /*overflow: hidden;*/
}

html {
    height: 100%;

}

/*.container {*/
/*    position: relative;*/
/*    max-width: 1280px;*/
/*    height: 720px;*/
/*    margin:auto;*/

/*}*/
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.video {
    width: 100%;
    height: auto;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 18px;
    margin: 20px auto;
}

a {

    color: dimgray;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

a:hover, a:focus {
    cursor: pointer;
    color: brown;

}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }

}
@keyframes slide-out {
    from {
        transform: translateX(0);

    }
    to {
        transform: translateX(-100%);

    }
}

.drawerOpen {
    animation: slide-in 1000ms;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

.drawerClose {
    animation: slide-out 1000ms;
    animation-fill-mode: backwards;
}
.inputPart {
    line-height: 38.5px;

}
.PhoneInput{
    width: 100%;
    height: 36.7px;
    font-size: 32px;
    font-weight: bold;
    color: black;
    background: transparent;
    border: none;
    outline: none;
}